.common{
    /* border: 2px solid white; */
    position: absolute;
  }
  
  .nav{
    position: relative;
    float: right;
    font-size: 100%;
    margin: 10px;
    top: 0%;
  }

  .nav2{
    position: relative;
    float: left;
    font-size: 100%;
    margin: 10px;
    top: 0%;
  }
  
  .footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 50%;
    font-style: italic;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .header{
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: -1;
  }
  
  .content{
    top: 70px;
    left: 10%;
    right: 10%;
    background-color: rgb(187, 149, 98);
  }

  .gifts{
    margin: 2px;
}

.scroller{
  padding-left: 20px;
}