body{
    font-family: open sans-serif;
    background-color: #444444;
    color: rgb(0, 0, 0);
}
a{
    color: rgb(0, 0, 0);
    /* background-color: rgb(255, 255, 255); */
    text-decoration: underline
}
h1,h2,h3{
    text-align: center;
}
img{
    border: 0px solid rgb(0, 0, 0);
    padding: 1px;
    height: 500px;
    width: 350px;
    margin: auto;
    display:inline-block
}
.sheesh{
    font-family: open sans-serif;
    color: rgba(0, 0, 0, 0.752);
    font-size: 400%;
    font-weight: bolder;
    background-color: rgb(95, 159, 116);
}

ol{
    list-style-type: decimal;
    margin-left: 500px;
    margin-right: 0px;
    font-size: x-large;
}

.underline{
   text-decoration: underline;
   text-transform: uppercase;
   font-family: open sans-serif;
}
.itinerary{
   background-color: rgb(161, 161, 161);
}